@font-face {
  font-family: Gotham;
  src: url('../font/gotham_medium.otf');
}
@font-face {
  font-family: SourceSansPro;
  src: url('../font/sanspro-bold.ttf');
}
@font-face {
  font-family: SourceSansProRegular;
  src: url('../font/sourcesanspro-regular.ttf');
}

@font-face {
  font-family: bebasNue;
  src: url('../font/bebasneue.otf');
}



.no-padding {
  padding: 0 !important;
}

.background {
  position: relative;
  width: 100%;
  min-width: 880px;
  background-color: #2ebbda;
}

.relative {
  position: relative;
}

.right-side {
  width: 100%;
  height: 100%;
  background-color: #2ebbda;
  right: 0;
  top: 0;
  padding-top: 8%;
  z-index: -1;
}

.splash {
  height: 100%;
  position: relative;
  width: 100%;
}

.mask { 
  background-color:rgba(66, 90, 105, 0.3);
  width: 100%;
  left: 0;
  top: 0;
  bottom:0;
  position: absolute;
}

.bg_splash {
  width: 100%;
}

.padding-top-120 {
  padding-top: 60%;
}

.padding-top-8 {
  padding-top: 8%;
}

.padding-top-4 {
  padding-top: 4%;
}


.coming-soon {
  font-family: Gotham;
  white-space: nowrap;
  letter-spacing: 0.1px;
  color: #ffffff;
  width: 100%;
  height: 100%;
  display: block;
  font-size: 3vw;
  padding-top: 8%;
  margin: 0;
  margin-left: 2%;
}

.susbcribe-box {
  width: 100%;
  height: 4.5vw;
  border-radius: 3px;
  box-shadow: 0 2px 4px 0 rgba(100, 100, 100, 0.5);
  border: solid 1px #ffffff;
}

.susbcribe-box input {
  top: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  border: transparent;
  padding-left: 7%;
  padding-right: 10%;
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  font-size: 1.3vw;
}

.susbcribe-box input::-webkit-input-placeholder {
  color: white;
  font-family: SourceSansProRegular;
  letter-spacing: 0.3px;
  font-size: 1.3vw;
}

.susbcribe {
  margin-left: 2vw;
  cursor: pointer;
  width: 100%;
  height: 4.5vw;
  margin-left: -25%;
  font-size: 2vw;
  border-radius: 3px 3px 0px 0px;
  background-color: #ffffff;
  box-shadow: 0 2px 4px 0 rgba(100, 100, 100, 0.5);
}

.susbcribe div {
  position: relative;
  width: 100%;
  height: 100%;
}

.susbcribe div span {
  font-family: SourceSansPro;
  position: absolute;
  top: 33.3%;
  font-size: 53%;
  width: 100%;
  height: 100%;
  font-weight: bold;
  letter-spacing: 0.3px;
  text-align: center;
  color: #425a69;
}

.apple {
  cursor: pointer;
  margin-top: 4vw;
  width: 80%;
  height: 3.7vw;
  border-radius: 25px;
  box-shadow: 0 8px 9px 0 rgba(0, 0, 0, 0.08);
  border: solid 0.15vw #d4d4d4;
  margin-left: auto;
}

.apple div {
  position: relative;
  width: 100%;
  height: 100%;
}

.apple-store {
  padding-top: 0.6vw;
  width: 100%;
  height: 100%;
  font-family: SourceSansProRegular;
  font-size: 1.4vw;
  letter-spacing: 0.5px;
  text-align: center;
  color: #ffffff;
  white-space: nowrap;
  position:absolute;
  margin-left: 0.4vw;
}

.apple-logo {
  width: 1vw;
  height: 28.6px;
  background-color: #d8d8d8;
}

.play {
  cursor: pointer;  
  margin-top: 4vw;
  width: 80%;
  height: 3.7vw;
  border-radius: 25px;
  box-shadow: 0 8px 9px 0 rgba(0, 0, 0, 0.08);
  border: solid 0.15vw #d4d4d4;
  margin-left: -0.85vw;
}

.play div {
  position: relative;
  width: 100%;
  height: 100%;
}

.play-store {
  padding-top: 0.6vw;
  width: 100%;
  height: 100%;
  font-family: SourceSansProRegular;
  font-size: 1.4vw;
  letter-spacing: 0.5px;
  text-align: center;
  color: #ffffff;
  white-space: nowrap;
  position: absolute;
  margin-left: 0.4vw;
}

.play-logo {
  width: 1vw;
  height: 28.6px;
  background-color: #d8d8d8;
}

.bottom-0 {
  position: absolute !important;
  bottom: 1.5vw;
  margin: auto;
  padding-left: 0 !important;
}

.padding-top-30 {
  padding-top: 37%;
}

.custom-container {
  position: absolute !important;
  top: 0;
  left: 0;
  padding: 0 !important;
  margin: 0;
  height: 100%;
  overflow: hidden;
}

.custom-container::after {
  background-color: #2ebbda;
  width: 100%;
  content: '';
  position: absolute;
  height: 100%;
  right: -100%;
  top: 0;
}

.img_phone {
  margin:auto;
  width: 50%;
}

.text {
  padding-top: 5%;
  padding-bottom: 10%;
}

.text h2 {
  white-space: nowrap;
  width: 100%;
  font-size: 2.7vw !important;
  margin-top: 3.7vw;
  color: white;
  font-family: bebasNue;
}


.icons div {
  cursor: pointer;
}


.icons div:nth-child(1n) {
  margin-left: 1vw;
}

.icons div:first-child {
  margin-left: 33%;
}

.img_logo_white_text {
  width: 100%;
}

.icons div img {
  width: 2vw;
} 

.img_app_store {
  cursor: pointer;
  margin-top: 3.5vw; 
  padding-left: 2vw;
  width: 110%;
  margin-left: 1vw;
}

.img_google_play {
  cursor: pointer;
  margin-top: 3.5vw;
  padding-left: 2vw;
  width: 110%;
  margin-left: -2vw;
}